parameters:
    paths:
        - src/CognitiveComplexity

    # turns off default phpstan levels to keep this only about our rules
    customRulesetUsed: true

    cognitive_complexity:
        class: 10
        function: 4
