parameters:
    paths:
        - src/TypeCoverage

    type_coverage:
        return_type: 100
        param_type: 80
        property_type: 70
        # print_suggestions: true

    customRulesetUsed: true
